__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
node_modules/
frontend/node_modules/
.git
.gitignore
.vscode
.DS_Store
npm-debug.log
coverage/

# keep frontend/dist so it can be copied into image
# frontend/dist
